#gameScreen {
  padding-left: 0;
  padding-right: 0;
  border: 4px solid rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgb(189, 199, 255);
}
img {
  display: none;
}
